<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="tokenizer" class="com.semanticRelationsExtractorStanford.tokens.TokenizerImpl"/>

    <bean id="multiListFactory" class="com.semanticRelationsExtractorStanford.factories.MultiListFactoryImpl"/>

    <bean id="inputDataFactory"
          class="com.semanticRelationsExtractorStanford.factories.InputDataFactoryImpl">
        <constructor-arg ref="tokenizer"/>
        <constructor-arg ref="multiListFactory"/>
    </bean>

    <bean id="capitalizedTokensPreprocessor"
          class="com.semanticRelationsExtractorStanford.preprocessing.CapitalizedTokensPreprocessorImpl"/>

    <bean id="semanticPreprocessor" class="com.semanticRelationsExtractorStanford.preprocessing.SemanticPreprocessorImpl"/>

    <bean id="subjectExtractor" class="com.semanticRelationsExtractorStanford.extraction.subject.SubjectExtractorImpl"/>

    <bean id="verbPredicateSequenceExtractor"
          class="com.semanticRelationsExtractorStanford.extraction.predicate.verb.sequence.VerbPredicateSequenceExtractorImpl"/>

    <bean id="verbPredicateExtractor"
          class="com.semanticRelationsExtractorStanford.extraction.predicate.verb.VerbPredicateExtractorImpl">
        <constructor-arg ref="verbPredicateSequenceExtractor"/>
    </bean>

    <bean id="nounPredicateExtractor"
          class="com.semanticRelationsExtractorStanford.extraction.predicate.noun.NounPredicateExtractorImpl"/>

    <bean id="prepositionPredicateExtractor"
          class="com.semanticRelationsExtractorStanford.extraction.predicate.preposition.PrepositionPredicateExtractorImpl"/>


    <bean id="semanticRelationsExtractor"
          class="com.semanticRelationsExtractorStanford.extraction.SemanticRelationsExtractorImpl">
        <constructor-arg ref="subjectExtractor"/>
        <constructor-arg ref="verbPredicateExtractor"/>
        <constructor-arg ref="nounPredicateExtractor"/>
        <constructor-arg ref="prepositionPredicateExtractor"/>
    </bean>



</beans>